/.emacs.d/auto-save-list/*
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/eshell/
/.emacs.d/evil/
/.emacs.d/url/
/.vim/ftdetect/
/.vim/plugged/
/.vim/.netrwhist
/.vim/_netrwhist
/.vim/syntax/
/.vim/pack/
/.vim/view
*.swp
*.swm
*.swn
*.swo
