/.emacs.d/auto-save-list/*
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/eshell/
/.emacs.d/evil/
/.emacs.d/url/
/.vim/ftdetect/
/.vim/plugged/
/.vim/.netrwhist
/.vim/_netrwhist
/.vim/syntax/
/.vim/pack/
/.vim/view
*.swa
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.swq
*.swr
*.swt
*.swu
*.swv
*.sww
*.swx
*.swy
*.swz
